main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 150px;
    position: relative;
}

.main-content {
    max-width: 600px;
    z-index: 1;
    margin-top: 90px;
}

.main-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.2;
    
}

.main-content p {
    font-size: 16px;
    color: #999;
    margin-bottom: 32px;
    line-height: 1.6;
}

.cta-button {
    background-color:#000000;
    color: #999;
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgb(54, 54, 54);
    display: inline-block;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #292929;
    box-shadow: 0 0 20px rgba(53, 53, 53, 0.5);
    transform: translateY(-2px);
}

.decorative-v img{
    width: 75%;
    margin-left: 100px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    main {
        padding: 0 20px;
        text-align: center;
    }

    .main-content {
        max-width: 100%;
        padding: 40px 0;
        margin-top: 15px;
    }

    .main-content h1 {
        font-size: 32px;
    }

    .decorative-v {
        display: none;
    }
} 